* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

main {
  overflow: hidden;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.b-direction_color_black {
  color: #222222;
}

.b-direction_color_white {
  color: #ffffff;
}

.b-direction_color_yellow {
  color: #e0d54a;
}

.b-direction__info_it {
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .b-direction__info_it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__info_it {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.b-direction__inner {
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .b-direction__inner {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding: 50px 0;
  }
}

@media only screen and (max-width: 577px) {
  .b-direction__inner {
    padding: 0;
    padding: 40px 0;
  }
}

.b-direction__inner_it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 106px;
  padding-bottom: 132px;
}

.b-direction__inner_agency {
  padding-top: 104px;
  padding-bottom: 115px;
  text-align: center;
  background: #5a5fef;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.b-direction__info_agency {
  position: relative;
  z-index: 11;
}

.b-direction__inner_inginiring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 112px;
  padding-bottom: 122px;
}

.b-direction__info_inginiring {
  padding-top: 22px;
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .b-direction__info_inginiring {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__info_inginiring {
    text-align: center;
    padding-top: 0px;
  }
}

.b-direction__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
}

@media only screen and (max-width: 1199px) {
  .b-direction__title {
    font-size: 52px;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__title {
    font-size: 42px;
  }
}

@media only screen and (max-width: 577px) {
  .b-direction__title {
    font-size: 32px;
  }
}

.b-direction__title_agency {
  padding-top: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .b-direction__title_agency {
    padding-top: 0;
  }
}

.b-direction__sub-title {
  font-size: 36px;
  font-weight: bold;
}

@media only screen and (max-width: 1199px) {
  .b-direction__sub-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__sub-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 577px) {
  .b-direction__sub-title {
    font-size: 20px;
  }
}

.b-direction__sub-title_it {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1199px) {
  .b-direction__sub-title_it {
    margin-bottom: 30px;
  }
}

.b-direction__sub-title_agency {
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 100%;
}

.b-direction__sub-title_inginiring {
  margin-bottom: 75px;
  font-size: 30px;
  line-height: 1;
}

@media only screen and (max-width: 1199px) {
  .b-direction__sub-title_inginiring {
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__sub-title_inginiring {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 577px) {
  .b-direction__sub-title_inginiring {
    margin-bottom: 20px;
  }
}

.b-direction__text {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .b-direction__text {
    font-size: 18px;
  }
}

.b-direction__text_it {
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .b-direction__text_it {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.b-direction__text_it p {
  display: block;
}

.b-direction__text_it p:first-child {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .b-direction__text_it p:first-child {
    margin-bottom: 10px;
  }
}

.b-direction__text_agency {
  margin-bottom: 52px;
}

@media only screen and (max-width: 992px) {
  .b-direction__text_agency {
    margin-bottom: 40px;
  }
}

.b-direction__text_agency p {
  display: block;
  margin-bottom: 5px;
}

.b-direction__text_agency p:last-child {
  margin-bottom: 0;
}

.b-direction__text_inginiring {
  margin-bottom: 72px;
}

@media only screen and (max-width: 1199px) {
  .b-direction__text_inginiring {
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .b-direction__text_inginiring {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
  }
}

.b-direction__text_inginiring p {
  line-height: 1.2;
}

.b-direction__btn {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}

.b-direction__btn_it {
  width: 175px;
  height: 53px;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 4px;
  z-index: 5;
}

.b-direction__btn_it span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-direction__btn_it svg {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.b-direction__btn_it svg rect {
  fill: none;
  stroke: #222222;
  stroke-width: 1;
  width: 100%;
  height: 100%;
  stroke-dasharray: 500, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.b-direction__btn_it:hover svg rect {
  stroke: #222222;
  stroke-width: 1;
  stroke-dasharray: 35, 300;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.b-direction__btn_inginiring {
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #e0d54a;
  -webkit-transition: color 1s;
  transition: color 1s;
  z-index: 1;
}

.b-direction__btn_inginiring:hover {
  -webkit-animation: halftone 1s forwards;
          animation: halftone 1s forwards;
  background: radial-gradient(circle, #e0d54a 0.2em, transparent 0.25em) 0 0/1.25em 1.25em, radial-gradient(circle, #e0d54a 0.2em, transparent 0.25em) var(--left-size) var(--right-size)/1.25em 1.25em;
  color: #462542;
  border-color: #252746;
}

@-webkit-keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

.b-direction__btn_agency {
  margin: 0 auto;
  width: 175px;
  border: 1px solid #ffffff;
  border-radius: 0;
  text-align: center;
  line-height: 2.85em;
  cursor: pointer;
}

.b-direction__btn_agency:hover .b-direction__btn-dot,
.b-direction__btn_agency:focus .b-direction__btn-dot {
  -webkit-animation: atom 2.5s infinite linear;
          animation: atom 2.5s infinite linear;
  display: block;
}

.b-direction__btn-dot {
  content: '';
  position: absolute;
  top: 0;
  left: -9px;
  width: calc(var(--btn-w)*.2);
  height: 100%;
  border-radius: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: none;
}

.b-direction__btn-dot:after {
  content: '';
  position: absolute;
  left: -9px;
  top: -.4em;
  height: .4em;
  width: .4em;
  background: #5a5fef;
  border-radius: 1em;
  border: .25em solid #ffffff;
  -webkit-box-shadow: 0 0 .7em #ffffff, 0 0 2em #5a5fef;
          box-shadow: 0 0 .7em #ffffff, 0 0 2em #5a5fef;
}

.b-direction__btn_black {
  color: #222222;
}

.b-direction__btn_white {
  color: #ffffff;
}

.b-direction__btn_yellow {
  color: #e0d54a;
}

.img-agency {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}

.img-inginiring {
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .img-inginiring {
    position: absolute;
    right: 0;
    top: 50px;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 767px) {
  .img-inginiring {
    top: 20px;
  }
}

@media only screen and (max-width: 577px) {
  .img-inginiring {
    width: 100%;
  }
}

.img-inginiring__item {
  height: 476px;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media only screen and (max-width: 992px) {
  .img-inginiring__item {
    width: 400px;
    height: 436px;
  }
}

@media only screen and (max-width: 767px) {
  .img-inginiring__item {
    width: 300px;
    height: 336px;
  }
}

@media only screen and (max-width: 577px) {
  .img-inginiring__item {
    width: 250px;
    height: 286px;
  }
}

.b-direction_it:hover .img-it__def {
  z-index: 1;
  opacity: 0;
}

.b-direction_it:hover .img-it__hover {
  z-index: 2;
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .b-direction_it:hover .img-it__hover {
    opacity: 0.2;
  }
}

.b-direction_agency {
  width: 100%;
  position: relative;
}

.b-direction_agency:hover .b-direction__inner_agency {
  background: #1c0e59;
}

.b-direction_agency:hover .img-agency__def {
  opacity: 0;
}

.b-direction_agency:hover .img-agency__hover {
  opacity: 1;
}

.b-direction_inginiring {
  background-color: #252c46;
}

.b-direction_inginiring:hover .img-inginiring__item {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.it-direction__direction-wrapper {
  max-width: 530px;
  padding-left: 62px;
}

@media only screen and (max-width: 992px) {
  .it-direction__direction-wrapper {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .it-direction__direction-wrapper {
    padding-left: 0;
  }
}

.img-it {
  width: 50%;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 992px) {
  .img-it {
    position: absolute;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .img-it {
    position: absolute;
    height: 100%;
  }
}

.img-it__def {
  position: absolute;
  top: 0;
  left: 0;
  height: 369px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 992px) {
  .img-it__def {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 767px) {
  .img-it__def {
    background-position: center;
  }
}

.img-it__hover {
  position: absolute;
  height: 369px;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 767px) {
  .img-it__hover {
    background-position: center;
  }
}

.img-agency__def, .img-agency__hover {
  position: absolute;
  width: 466px;
  height: 466px;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 1199px) {
  .img-agency__def, .img-agency__hover {
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width: 767px) {
  .img-agency__def, .img-agency__hover {
    top: 50%;
    bottom: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 280px;
    height: 280px;
  }
}

@media only screen and (max-width: 577px) {
  .img-agency__def, .img-agency__hover {
    width: 165px;
    height: 180px;
  }
}

.img-agency__def:first-child, .img-agency__hover:first-child {
  left: 0;
}

.img-agency__def:last-child, .img-agency__hover:last-child {
  right: -20px;
}

.img-agency__hover {
  opacity: 0;
}

.img-agency__def {
  opacity: 1;
}

@-webkit-keyframes atom {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 175px;
    top: 0px;
  }
  50% {
    left: 175px;
    top: 50px;
  }
  75% {
    left: 0px;
    top: 50px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes atom {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 175px;
    top: 0px;
  }
  50% {
    left: 175px;
    top: 50px;
  }
  75% {
    left: 0px;
    top: 50px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

:root {
  --left-size: 87.5px ;
  --right-size: 87.5px ;
}

.header.fixed {
  position: fixed;
}

.header {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.header__logo-img {
  width: 30px;
}

@media only screen and (max-width: 992px) {
  .header__logo-img {
    width: 20px;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .header__links {
    display: none;
  }
}

.header__link {
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 500;
  margin-right: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.header__link:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #0058a3;
  bottom: -3px;
  right: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #0058a3;
  bottom: -3px;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:hover {
  color: #0058a3;
}

.header__link:hover:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #0058a3;
  bottom: -3px;
  right: 0;
}

.header__link:hover:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #0058a3;
  bottom: -3px;
  left: 0;
}

.header__link:last-child {
  margin-right: 0;
}

.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .header__sign {
    display: none;
  }
}

.header__sign a {
  font-size: 14px;
  font-weight: 500;
}

.header__sign-in {
  margin-right: 20px;
  text-align: center;
  display: block;
  width: 120px;
  padding: 10px 0;
  border-radius: 4px;
  background-color: #0058a3;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__sign-in:hover {
  background-color: #0081f0;
}

.header__sign-up {
  color: #0058a3;
}

.header__burger-menu {
  display: none;
  width: 18px;
  height: 16px;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .header__burger-menu {
    display: block;
  }
}

.header__burger-menu:after, .header__burger-menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0058a3;
  border-radius: 10px;
}

.header__burger-menu:after {
  top: 0;
}

.header__burger-menu:before {
  bottom: 0;
}

.burger-menu {
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #0058a3;
}

.footer {
  background-color: transparent;
  padding: 25px 0;
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 15px 0;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .footer__menu {
    display: none;
  }
}

.footer__link {
  font-size: 14px;
  margin-right: 25px;
  color: #222222;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link:hover {
  border-color: #222222;
}

.footer__company {
  margin-right: 10px;
  font-size: 14px;
  color: #6f6f6f;
}

@media only screen and (max-width: 767px) {
  .footer__company {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__policy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}

.header {
  z-index: 99;
}

.header__mobile-menu {
  position: absolute;
  width: 100%;
  top: 37px;
  height: calc(100vh - 37px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__mobile-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  width: 100%;
}

.mobile-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 60px;
}

.mobile-menu__link {
  margin-bottom: 20px;
  color: #0058a3;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-menu__link:last-child {
  margin-bottom: 0;
}

.mobile-menu__link:hover {
  border-color: #0058a3;
}

.mobile-menu__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__sign a {
  font-size: 16px;
}

.mobile-menu__sign-in {
  display: block;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  border-radius: 4px;
  background-color: #0058a3;
  color: #ffffff;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-menu__sign-in:hover {
  background-color: #0081f0;
}

.mobile-menu__sign-up {
  color: #0058a3;
}
/*# sourceMappingURL=style.css.map */