*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
}

main{
    overflow: hidden;
}

body {
	// font-family: "Rubik", sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}

.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

// Стили для страницы Направления


.b-direction {

	&_color_black{
		color: #222222;
	}

	&_color_white{
		color:  #ffffff;
	}


	&_color_yellow{
		color: #e0d54a;
	}

	&__info_it{
		width: 50%;

		@media only screen and (max-width : 992px) {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		@media only screen and (max-width : 767px) {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
	}

	&__inner{
		position: relative;

		@media only screen and (max-width : 1199px) {
			padding: 100px 0;
		}

		@media only screen and (max-width : 767px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0;
			padding: 50px 0;
		}

		@media only screen and (max-width : 577px) {
			padding: 0;
			padding: 40px 0;
		}	
	}

	&__inner_it{

		display: flex;
		padding-top: 106px;
		padding-bottom: 132px;
	}

	&__inner_agency{

		padding-top: 104px;
		padding-bottom: 115px;
		text-align: center;
		background: #5a5fef;
		transition: all 0.5s ease;
	}


	&__info_agency{
		position: relative;
		z-index: 11;
	}

	&__inner_inginiring{

		display: flex;
		padding-top: 112px;
		padding-bottom: 122px;
	}


	&__info_inginiring {
		padding-top: 22px;
		width: 50%;

		@media only screen and (max-width : 992px) {
			width: 100%;
			text-align: center;
		}

		@media only screen and (max-width : 767px) {
			text-align: center;
			padding-top: 0px;
		}
	}


	&__title {

		font-size: 72px;
		font-weight: bold;
		line-height: 1;

		@media only screen and (max-width : 1199px) {
			font-size: 52px;
		}

		@media only screen and (max-width : 767px) {
			font-size: 42px;
		}

		@media only screen and (max-width : 577px) {
			font-size: 32px;
		}

	}

	&__title_it {

	}

	&__title_agency {
		padding-top: 20px;
		margin: 0 auto;
		

		@media only screen and (max-width : 767px) {
			padding-top: 0;
		}
	}

	&__title_inginiring {

	}



	&__sub-title{

		font-size:36px;
		font-weight: bold;

		@media only screen and (max-width : 1199px) {
			font-size:32px;
		}

		@media only screen and (max-width : 767px) {
			font-size: 22px;
			margin-bottom: 20px;
		}

		@media only screen and (max-width : 577px) {
			font-size: 20px;
		}
	}


	&__sub-title_it {
		margin-bottom: 40px;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 30px;
		}
	}

	&__sub-title_agency {
		margin: 0 auto;
		margin-bottom: 30px;
		line-height: 100%;
	}

	&__sub-title_inginiring {
		margin-bottom: 75px;
		font-size: 30px;
		line-height: 1;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 55px;
		}

		@media only screen and (max-width : 767px) {
			margin-bottom: 30px;
		}

		@media only screen and (max-width : 577px) {
			margin-bottom: 20px;
		}
	}



	&__text {

		font-size: 20px;

		@media only screen and (max-width : 767px) {
			font-size: 18px;
		}
	}

	&__text_it {

		margin-bottom: 60px;

		@media only screen and (max-width : 767px) {
			max-width: 350px;
			margin: 0 auto;
			margin-bottom: 40px;
		}

		p {
			display: block;

			&:first-child {
				margin-bottom: 20px;

				@media only screen and (max-width : 767px) {
					margin-bottom: 10px;
				}
			}
		}
	}

	&__text_agency{

		margin-bottom: 52px;

		@media only screen and (max-width : 992px) {
			margin-bottom: 40px;
		}

		p {
			display: block;
			margin-bottom: 5px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}


	&__text_inginiring {
		margin-bottom: 72px;

		@media only screen and (max-width : 1199px) {
			margin-bottom: 55px;
		}

		@media only screen and (max-width : 767px) {
			margin: 0 auto;
			margin-bottom: 40px;
			font-size: 18px;
		}

		p {
			line-height: 1.2;
		}
	}

	&__btn{
		position: relative;
		text-transform: uppercase;
		font-size: 18px;
	}

	&__btn_it {
		width: 175px;
		height: 53px;
		padding: 15px 30px;
		display: inline-block;
		border-radius: 4px;
		
		z-index: 5;
		span{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		svg{
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			z-index: 5;

			rect{
				fill: none;
				stroke: #222222;
				stroke-width: 1;
				width: 100%;
				height: 100%;

				stroke-dasharray: 500, 0;
				-webkit-transition: all 0.8s ease-in-out;
				-moz-transition: all 0.8s ease-in-out;
				-ms-transition: all 0.8s ease-in-out;
				-o-transition: all 0.8s ease-in-out;

			}
		}

		&:hover svg rect {
			stroke: #222222;

			stroke-width: 1;
			stroke-dasharray: 35, 300;
			stroke-dashoffset: 38;
			-webkit-transition: all 0.8s ease-in-out;
			-moz-transition: all 0.8s ease-in-out;
			-ms-transition: all 0.8s ease-in-out;
			-o-transition: all 0.8s ease-in-out;
		}
	}



	&__btn_inginiring {

		display: inline-block;
		padding: 15px 30px;
		border: 1px solid #e0d54a;
		transition: color 1s;
		z-index: 1;

		&:hover {
			animation: halftone 1s forwards;
			background: radial-gradient(circle, #e0d54a 0.2em, transparent 0.25em) 0 0 / 1.25em 1.25em, radial-gradient(circle, #e0d54a 0.2em, transparent 0.25em) var(--left-size) var(--right-size) / 1.25em 1.25em;
			color: adjust-hue(#252c46,80);
			border-color: adjust-hue(#252c46,10);
		}

		@keyframes halftone {
			100% {
				background-size: 2.375em 2.375em, 0.1em 0.1em;
			}
		}
	}

	&__btn_agency{

		margin: 0 auto;
		width: 175px;
		border: 1px solid #ffffff;
		border-radius: 0;
		text-align: center;
		line-height: 2.85em;
		cursor: pointer;

		&:hover .b-direction__btn-dot,
		&:focus .b-direction__btn-dot {
			animation: atom 2.5s infinite linear;
			display: block;
		}

	}

	&__btn-dot {
		content: '';
		position: absolute;
		top: 0;
		left: -9px;
		width: calc(var(--btn-w)*.2);
		height: 100%;
		border-radius: 100%;
		transition: all 300ms ease;
		display: none;

		&:after {
			content: '';
			position: absolute;
			left: -9px;
			top: -.4em;
			height: .4em;
			width: .4em;
			background: #5a5fef;
			border-radius: 1em;
			border: .25em solid #ffffff;
			box-shadow: 0 0 .7em #ffffff,
			0 0 2em #5a5fef;
		}
	}

	&__btn_black{
		color:  #222222;
	}

	&__btn_white{
		color: #ffffff;
	} 

	&__btn_yellow{
		color: #e0d54a;
	}  


	&__img_it {
		
	}
}

.img-agency{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	z-index: 10;
}

.img-inginiring {
	width: 50%;

	@media only screen and (max-width : 992px) {
		position: absolute;
		right: 0;
		top: 50px;
		opacity: 0.2;	
	}

	@media only screen and (max-width : 767px) {
		top: 20px;
	}


	@media only screen and (max-width : 577px) {
		width: 100%;
	}

	&__item{
		
		height: 476px;
		margin: 0 auto;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 1s ease;
		
		@media only screen and (max-width : 992px) {
			width: 400px;
			height: 436px;	
		}

		@media only screen and (max-width : 767px) {
			width: 300px;
			height: 336px;	
		}

		@media only screen and (max-width : 577px) {
			width: 250px;
			height: 286px;	
		}

	}
}


.b-direction_it{

	&:hover{
		.img-it__def{
			z-index: 1;
			opacity: 0;
		}

		.img-it__hover{
			z-index: 2;
			opacity: 1;	

			@media only screen and (max-width : 992px) {
				opacity: 0.2;
			}
		}

	}

}

.b-direction_agency{

	width: 100%;
	position: relative;

	&:hover{
		.b-direction__inner_agency{
			background: #1c0e59; 
		}

		.img-agency__def{
			opacity: 0;			
		}

		.img-agency__hover{
			opacity: 1;
		}
	}
}

.b-direction_inginiring{
	background-color: #252c46;

	&:hover{
		.img-inginiring__item{
			transform : rotateY(180deg);
		}
	}
}

.it-direction {

	&__direction-wrapper{
		max-width: 530px;
		padding-left: 62px;

		@media only screen and (max-width : 992px) {
			margin: 0 auto;
			padding: 0;
			text-align: center;	
		}

		@media only screen and (max-width : 767px) {
			padding-left: 0;
		}
	}
}

.img-it{
	width: 50%;
	position: relative;
	z-index: 2;

	@media only screen and (max-width : 992px) {
		position: absolute;
		width: 100%;
	}

	@media only screen and (max-width : 767px) {
		position: absolute;
		height: 100%;
	}


	&__def{
		position: absolute;
		top: 0;
		left: 0;
		height: 369px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 2;
		transition: all 0.5s ease;
		
		@media only screen and (max-width : 992px) {
			opacity: 0.2;
		}


		@media only screen and (max-width : 767px) {
			background-position: center;
		}	
	}

	&__hover{

		position: absolute;
		height: 369px;
		width: 100%;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1;
		opacity: 0;
		transition: all 0.5s ease;

		@media only screen and (max-width : 767px) {
			background-position: center;
		}
	}	
}

.img-agency {

	&__def,
	&__hover{
		position: absolute;
		width: 466px;
		height: 466px;
		top: 0;	
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 0.5s ease;

		@media only screen and (max-width : 1199px) {
			width: 380px;
			height: 380px;
		}

		@media only screen and (max-width : 767px) {
			top: 50%;
			bottom: 50%;
			transform: translateY(-50%);
			width: 280px;
			height: 280px;
		}

		@media only screen and (max-width : 577px) {
			width: 165px;
			height: 180px;
		}

		&:first-child{
			left: 0;
		}

		&:last-child{
			right: -20px;
		}
	}

	&__hover{
		opacity: 0;
	}

	&__def{
		opacity: 1;
	}

}




@keyframes atom {
	0% {left:0px; top:0px;}
	25% {left:175px ; top:0px;}
	50% { left:175px; top:50px;}
	75% { left:0px; top:50px;}
	100% { left:0px; top:0px;}
}

:root{

	--left-size: 87.5px ;
	--right-size: 87.5px ;
}



// футтер и хедер

.header.fixed {
	position: fixed;
}

.header {
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	z-index: 10;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
	}

	&__logo {
	}

	&__logo-img {
		width: 30px;

		@media only screen and (max-width: 992px) {
			width: 20px;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;

		@media only screen and (max-width: 992px) {
			display: none;
		}
	}

	&__link {
		font-size: 14px;
		color: #0d0d0d;
		font-weight: 500;
		margin-right: 25px;
		transition: all 0.3s ease;
		position: relative;

		&:before {
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: #0058a3;
			bottom: -3px;
			right: 50%;
			transition: all 0.3s ease;
		}

		&:after {
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: #0058a3;
			bottom: -3px;
			left: 50%;
			transition: all 0.3s ease;
		}

		&:hover {
			color: #0058a3;

			&:before {
				position: absolute;
				content: "";
				height: 2px;
				width: 50%;
				background-color: #0058a3;
				bottom: -3px;
				right: 0;
			}

			&:after {
				position: absolute;
				content: "";
				height: 2px;
				width: 50%;
				background-color: #0058a3;
				bottom: -3px;
				left: 0;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&__sign {
		display: flex;
		align-items: center;
		@media only screen and (max-width: 992px) {
			display: none;
		}

		a {
			font-size: 14px;
			font-weight: 500;
			
		}
	}

	&__sign-in {
		margin-right: 20px;
		text-align: center;
		display: block;
		width: 120px;
		padding: 10px 0;
		border-radius: 4px;
		background-color: #0058a3;
		color: #ffffff;
		transition: all 0.3s ease;

		&:hover {
			background-color: lighten(#0058a3, 15%);
		}
	}

	&__sign-up {
		color: #0058a3;
	}

	&__burger-menu {
		display: none;
		width: 18px;
		height: 16px;
		position: relative;
		cursor: pointer;
		@media only screen and (max-width: 992px) {
			display: block;
		}

		&:after,
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #0058a3;
			border-radius: 10px;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}
	}
}

.burger-menu {
	border-radius: 10px;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	background-color: #0058a3;
}

.footer {
	background-color: transparent;
	padding: 25px 0;

	@media only screen and (max-width: 767px) {
		padding: 15px 0;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__menu {
		display: flex;
		flex: 0 1 100%;
		justify-content: center;
		margin-bottom: 15px;

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	&__link {
		font-size: 14px;
		margin-right: 25px;
		color: #222222;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;
		&:hover {
			border-color: #222222;
		}

	}

	&__company {
		margin-right: 10px;
		font-size: 14px;
		color: lighten(#222222, 30%);

		@media only screen and (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	&__policy {
		@media only screen and (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
}

.header {
    z-index: 99;
	&__mobile-menu {
		// display: none;
		position: absolute;
		width: 100%;
		top: 37px;
		height: calc(100vh - 37px);
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease;
        transform: translateX(-100%);
        
	}

	&__mobile-menu.active{
		transform: translateX(0);
	}
}
.mobile-menu {
    width: 100%;
	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 16px;
		margin-bottom: 60px;
	}

	&__link {
		margin-bottom: 20px;
		color: #0058a3;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			border-color: #0058a3;
		}
	}

	&__sign {
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			font-size: 16px;
		}
	}

	&__sign-in {
		display: block;
		width: 200px;
		text-align: center;
		padding: 10px 0;
		border-radius: 4px;
		background-color: #0058a3;
		color: #ffffff;
		margin-bottom: 20px;
		transition: all 0.3s ease;

		&:hover {
			background-color: lighten(#0058a3, 15%);
		}
	}

	&__sign-up {
		color: #0058a3;
	}
}